body {
  background-color: #ccc;
  /*text-align: center; */
  height: 90vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

#login{
  text-align: center;
}

.card {
  background-color: #fff;
  min-height: 200px;
  padding: 20px;
  min-width: 200px;
  border-radius: 5px;
  box-shadow: 5px 10px #888;
}

#form1 {
  margin-top: 20px;
}

.details {
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"]
select {
  width: 100%;
  border-radius: 3px;
  outline: none;
}

button{
  width: 100%;
  padding: 3px;
  border-radius: 5px;
}
